.namesContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    font-size: x-large;
}

.firstName {
    margin-right: 5px;
}

.lastName {
    margin-left: 5px;

}
